In [1]:
import sys
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

import preReq

In [2]:
df = pd.read_csv('penguins.csv')
df

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,gender,body_mass_g
0,Adelie,39.1,18.7,181,male,3750
1,Adelie,39.5,17.4,186,female,3800
2,Adelie,40.3,18.0,195,female,3250
3,Adelie,39.6,17.7,186,female,3500
4,Adelie,36.7,19.3,193,female,3450
...,...,...,...,...,...,...
145,Chinstrap,50.8,18.5,201,male,4450
146,Chinstrap,50.1,17.9,190,female,3400
147,Chinstrap,49.0,19.6,212,male,4300
148,Chinstrap,51.5,18.7,187,male,3250
149,Chinstrap,49.8,17.3,198,female,3675

In [3]:
print(preReq.INarr)

[' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [4]:
preReq.OUTarr[0] = 1
preReq.OUTarr[1] = 2
preReq.OUTarr[2] = 3
preReq.OUTarr[3][0] = 41
preReq.OUTarr[3][1] = 42
preReq.OUTarr[3][2] = 43
preReq.OUTarr[3][3] = 44
preReq.OUTarr[4] = 5

In [5]:
print("\t\tModel Executed Successfully")

		Model Executed Successfully